In [2]:
import pandas as pd

test x

In [14]:
filename = './data/Test_X.csv'
dfx = pd.read_csv(filename,encoding='cp950')
condition_max = df['股票名稱']=='加權指數'
filter_b=df.收盤價	[(condition_max)]

In [17]:
filter_b

           收盤價      收盤價
1656   9268.43  9268.43
3438   9286.28  9286.28
5219   9218.50  9218.50
6999   9214.07  9214.07
8777   9158.70  9158.70
10557  9186.18  9186.18
12337  9097.71  9097.71
14115  9095.00  9095.00
15894  8999.52  8999.52
17671  8878.63  8878.63